#see_all_costs {
    margin: 10px auto;
}

#tab_stat_cost {
    float: left;
    margin: 5px;
}

#tab_all_cost {
    margin: 5px;
}

.unShowCost {
    display: none;
}

.showCost {
    display: block;
}